html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Roboto Mono", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: seashell;
    height:100%;
    display: table;
    margin: auto;
}
  a,
  p,
  li {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
    color: green;
  }
  table {
    width:100%;
    table-layout: fixed;
  }
  table,
  td {
    border-collapse: collapse;
    border: 1px solid #333;
    padding-right: 1ch;
    padding-bottom: 0.8ch;
    padding-top: 0.8ch;
    text-align: center;
    font-size: 14px;
  }

  caption {
    text-decoration: overline;
    padding-bottom: 1ch;
    font-size: 16px;
  }
  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }

  body {
    height:100%;
    display: table-cell;
    vertical-align: middle;
    /*width: 800px;*/
    padding: 20px 0;
    background-color: rgb(241, 241, 241);
    font-size: 40px;
    text-align: center;
    overflow: auto;
    float: left;
    }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    margin: 0;
    padding: 20px 0;
    color: black;
    font-size: 30px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 690px;
    height: 300px;
    border: 1px outset #ddd;
    border-radius: 10px;
    padding: 2px

    
  }

  img:hover {
    box-shadow: 0 0 4px 2px black;
  }
  img:active{
    opacity: 95%;
  }

/* The side navigation menu */
nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #dccece; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #464343;
  display: block;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
  color: #be6969;
}

.navbutton {
  float: left
}

/* Position and style the close button (top right corner) */
nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

section.wantToLearn {
  background-color: burlywood;
  text-align: left;
}
section.needToLearn{
  background-color: rgb(199, 160, 109);
  text-align: left;
}
section.booksToRead{
  background-color: rgb(209, 184, 152);
  text-align: left;
}
section.toolsToLearn{
  background-color: rgb(209, 184, 152);
  text-align: left;
}
p.sectionParagraph {
  border: 1px #464343;
}